<ion-view title="Automation Payment" hide-nav-bar="true" id="page20" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="automationPayment-form26" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="automationPayment-list-item23">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="automationPayment-card25"></div>
        <form id="automationPayment-form27" class="list ">
            <label class="item item-select " id="automationPayment-select4">
                <span class="input-label">Month</span>
                <select>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                    <option>---</option>
                </select>
            </label>
        </form>
		
        <form id="automationPayment-form28" class="list ">
            <label class="item item-select " id="automationPayment-select5">
                <span class="input-label">Year</span>
                <select>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>Lifetime</option>
                </select>
            </label>
        </form>
		
        <a ui-sref="automationPaymentConfirmed" id="automationPayment-button119" class=" button button-dark  button-block ">Automate Payment</a>
        <a ui-sref="homePage" id="automationPayment-button127" class=" button button-dark  button-block ">Main Menu</a>
        <div id="automationPayment-button-bar32" class=" button-bar "></div>
		
    </ion-content>
</ion-view>