<ion-view title="Automation confirmation" hide-nav-bar="true" id="page24" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		
        <form id="automationConfirmation-form23" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="automationConfirmation-list-item20">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="automationConfirmation-card29"></div>
        <h3 id="automationConfirmation-heading49" style="color:#000000;text-align:center;" class=" ">Automated Payment</h3>
        
		<div class="spacer" style="width: 300px; height: 15px;"></div>
        <h4 id="automationConfirmation-heading50" style="color:#000000;text-align:center;" class=" ">Do you wish to allow automated payment on the month of May?</h4>
        
		<div class="spacer" style="width: 300px; height: 62px;"></div>
        
		<a ui-sref="automationPaymentConfirmed" id="automationConfirmation-button99" class=" button button-dark  button-block ">Continue</a>
        
		<a ui-sref="homePage" id="automationConfirmation-button117" class=" button button-dark  button-block ">Cancel</a>
        
		<div id="automationConfirmation-button-bar37" class=" button-bar "></div>
    </ion-content>
</ion-view>