<ion-view title="Automation payment confirmed" hide-nav-bar="true" id="page19" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="automationPaymentConfirmed-form9" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="automationPaymentConfirmed-list-item13">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="automationPaymentConfirmed-card22"></div>
		
        <div class="spacer" style="width: 300px; height: 13px;"></div>
		
        <h4 id="automationPaymentConfirmed-heading22" style="color:#000000;text-align:center;" class=" ">Your phone bills will be automatically paid on the month of May 2016</h4>
        
		<div class="spacer" style="width: 300px; height: 103px;"></div>
        
		<a ui-sref="purchaseEtherCurrency" id="automationPaymentConfirmed-button116" class=" button button-dark  button-block ">Top up your Ether</a>
        <a ui-sref="homePage" id="automationPaymentConfirmed-button102" class=" button button-dark  button-block ">Back to Main Menu</a>
        
		<div id="automationPaymentConfirmed-button-bar10" class=" button-bar "></div>
    </ion-content>
</ion-view>