<ion-view title="Current Month Bill Page" hide-nav-bar="true" id="page4" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <h2 id="currentMonthBillPage-heading8" style="color:#000000;font-weight:400;text-align:center;" class=" ">This Month's Bill</h2>
        <ion-list id="currentMonthBillPage-list5" class=" ">
            <label class="item item-input " id="currentMonthBillPage-textarea7">
                <span class="input-label">Current Bill (SGD): $50</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="currentMonthBillPage-textarea10">
                <span class="input-label">Current Bill (Ether): 2.00</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="currentMonthBillPage-textarea11">
                <span class="input-label">Payment Due Date: 7th June 2016</span><textarea placeholder=""></textarea>
            </label>
        </ion-list>
		
        <a ui-sref="payment" id="currentMonthBillPage-button45" class=" button button-dark  button-block ">Make Payment</a>
        <a ui-sref="setCalendarReminder" id="currentMonthBillPage-button46" class=" button button-positive  button-block ">Set Calendar Reminder</a>
		
        <div id="currentMonthBillPage-button-bar13" class=" button-bar "></div>
		
        <div id="currentMonthBillPage-button-bar5" class=" button-bar "></div>
		
        <a ui-sref="homePage" id="currentMonthBillPage-button87" style="font-weight:500;" class=" button button-dark  button-block button-clear ">Back to Main Menu</a>
        
		<div style="margin-right:-20px;">
            <button id="currentMonthBillPage-button106" style="left:-10px;" class=" button button-stable  button-full icon-right ion-person-stalker ">View My Profile</button>
        </div>
		
    </ion-content>
</ion-view>