<ion-view title="Forget Password " hide-nav-bar="true" id="page14" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <h2 id="forgetPassword-heading30" style="color:#000000;text-align:center;" class=" ">Forget Password</h2>
        
		<div id="forgetPassword-button-bar21" class=" button-bar "></div>
        
		<div class="spacer" style="width: 300px; height: 21px;"></div>
        
		<form id="forgetPassword-form17" class="list ">
            <label class="item item-input " id="forgetPassword-input15">
                <span class="input-label">Mobile No.</span>
                <input type="tel" placeholder="Enter Mobile Number ">
            </label>
        </form>
		
        <a ui-sref="forgetPassword2" id="forgetPassword-button101" style="font-weight:500;font-size:20px;" class=" button button-dark  button-block ">Send Verification Code</a>
        
		<div id="forgetPassword-button-bar22" class=" button-bar "></div>
        <div id="forgetPassword-button-bar23" class=" button-bar "></div>
        <div id="forgetPassword-button-bar24" class=" button-bar "></div>
		
    </ion-content>
</ion-view>