<ion-view title="Forget Password 2" hide-nav-bar="true" id="page15" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <h2 id="forgetPassword2-heading32" style="color:#000000;text-align:center;" class=" ">Forget Password</h2>
        
		<div id="forgetPassword2-button-bar25" class=" button-bar "></div>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        
		<h4 id="forgetPassword2-heading33" style="color:#000000;text-align:center;" class=" ">A verification code has been sent to your mobile phone via SMS.</h4>
        
		<div id="forgetPassword2-button-bar26" class=" button-bar "></div>
        <div id="forgetPassword2-button-bar27" class=" button-bar "></div>
        <div id="forgetPassword2-button-bar28" class=" button-bar "></div>
        
		<div class="spacer" style="width: 300px; height: 13px;"></div>
        
		<a ui-sref="loginPage" id="forgetPassword2-button104" style="font-weight:500;font-size:20px;" class=" button button-dark  button-block ">Back to Login Page</a>
    </ion-content>
</ion-view>