<ion-view title="Home Page" hide-nav-bar="true" id="page3" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="homePage-form7" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="homePage-list-item18">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="homePage-card21">
            <ion-item class="item-icon-left item-icon-right dark  " id="homePage-list-item7" ui-sref="payment">
                <i class="icon ion-card"></i>Pay Existing Bills
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="homePage-list-item9" ui-sref="currentMonthBillPage">
                <i class="icon ion-ios-briefcase"></i>View Current Bills
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="homePage-list-item10" ui-sref="pastTransactionPage">
                <i class="icon ion-android-list"></i>View Transaction History
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="homePage-list-item11" ui-sref="setCalendarReminder">
                <i class="icon ion-android-calendar"></i>Set Calendar Reminder
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="homePage-list-item12" ui-sref="purchaseEtherCurrency">
                <i class="icon ion-cash"></i>Purchase Ether Currency
                <i class="icon ion-android-send"></i>
            </ion-item>
        </div>
		
        <div style="margin-right:-20px;">
            <a ui-sref="viewMyProfile" id="homePage-button43" style="left:-10px;" class=" button button-stable  button-full icon-right ion-android-contacts ">View My Profile</a>
        </div>
		
    </ion-content>
</ion-view>