<ion-view title="Past Transaction Page" hide-nav-bar="true" id="page5" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
 		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		
        <h2 id="pastTransactionPage-heading10" style="color:#000000;text-align:center;" class=" ">Past Transactions</h2>
        
		<ion-list id="pastTransactionPage-list6" class=" ">
            <ion-item class="item-icon-right  " id="pastTransactionPage-list-item25" ui-sref="pastTransactionPage1">07 May 2016
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="pastTransactionPage-list-item26" ui-sref="pastTransactionPage2">07 March 2016
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="pastTransactionPage-list-item27" ui-sref="pastTransactionPage3">07 February 2016
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="pastTransactionPage-list-item28" ui-sref="pastTransactionPage4">07 January 2016
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
        </ion-list>
		
        <a ui-sref="homePage" id="pastTransactionPage-button90" class=" button button-dark  button-block ">Back to Main Menu</a>
        
		<div class="spacer" style="width: 300px; height: 24.9549px;"></div>
        
		<div style="margin-right:-20px;">
            <a ui-sref="viewMyProfile" id="pastTransactionPage-button50" style="left:-10px;font-weight:600;" class=" button button-light  button-full icon-right ion-person-stalker ">View My Profile</a>
        </div>
        
		<div id="pastTransactionPage-button-bar14" class=" button-bar "></div>
		
    </ion-content>
</ion-view>