<ion-view title="Past Transaction Page (3)" hide-nav-bar="true" id="page17" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        
		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		
        <h2 id="pastTransactionPage3-heading37" style="color:#000000;text-align:center;" class=" ">Past Transactions</h2>
        
		<div class="spacer" style="width: 300px; height: 5px;"></div>
        
		<p id="pastTransactionPage3-markdown8" style="color:#000000;font-size:19px;text-align:center;" class=" ">
            <strong>Transaction Made on 07 Feb 2016</strong>
        </p>
        
		<p id="pastTransactionPage3-markdown9" style="color:#000000;font-size:18px;text-align:center;" class=" ">
            <strong>Transaction ID: </strong>2
            <br>
            <strong>Bill Amount (SGD): </strong>$40.00
            <br>
            <strong>Transaction Paid (ETHER): </strong>2.00
            <br>
            <strong>Transaction Date: </strong>07 February 2016</p>
        
		<div class="spacer" style="width: 300px; height: 38.2049px;"></div>
        
		<a ui-sref="pastTransactionPage" id="pastTransactionPage3-button110" class=" button button-dark  button-block ">Back to History of Transactions</a>
        <a ui-sref="homePage" id="pastTransactionPage3-button111" class=" button button-positive  button-block ">Back To Main Menu</a>
        
		<div class="spacer" style="width: 300px; height: 13.9688px;"></div>
        
		<div id="pastTransactionPage3-button-bar30" class=" button-bar "></div>
        
		<div style="margin-right:-20px;">
            <a ui-sref="viewMyProfile" id="pastTransactionPage3-button112" style="left:-10px;font-weight:600;" class=" button button-stable  button-full icon-right ion-person-stalker ">View My Profile</a>
        </div>
    </ion-content>
</ion-view>