<ion-view title="Payment " hide-nav-bar="true" id="page21" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="payment-form10" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="payment-list-item15">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="payment-card23"></div>
        
		<h3 id="payment-heading41" style="color:#000000;text-align:center;" class=" ">This Month's Bill</h3>
        
		<form id="payment-form15" class="list ">
            <label class="item item-input " id="payment-textarea8">
                <span class="input-label">Amount (Ether): 2.00</span><textarea placeholder=""></textarea>
            </label>
        </form>
		
        <a ui-sref="paymentConfirmation" id="payment-button118" class=" button button-dark  button-block ">Make transaction</a>
        <a ui-sref="purchaseEtherCurrency" id="payment-button120" class=" button button-dark  button-block ">Top up your Ether</a>
        <a ui-sref="homePage" id="payment-button126" class=" button button-dark  button-block ">Cancel transaction</a>
        
		<div id="payment-button-bar33" class=" button-bar "></div>
		
    </ion-content>
</ion-view>