<ion-view title="payment confirmation" hide-nav-bar="true" id="page9" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="paymentConfirmation-form19" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="paymentConfirmation-list-item19">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
		<div class="list card " id="paymentConfirmation-card28"></div>
        
		<h3 id="paymentConfirmation-heading18" style="color:#000000;text-align:center;" class=" ">Current Bill</h3>
        
		<form id="paymentConfirmation-form20" class="list ">
            <label class="item item-input " id="paymentConfirmation-textarea9">
                <span class="input-label">Amount (Ether): 2.00</span><textarea placeholder=""></textarea>
            </label>
        </form>
		
        <h4 id="paymentConfirmation-heading47" style="color:#000000;text-align:center;" class=" ">Do you wish to proceed to make the above transaction?</h4>
        
		<a ui-sref="paymentConfirmed" id="paymentConfirmation-button128" class=" button button-dark  button-block ">Make transaction</a>
        <a ui-sref="homePage" id="paymentConfirmation-button130" class=" button button-dark  button-block ">Cancel transaction</a>
        
		<div id="paymentConfirmation-button-bar36" class=" button-bar "></div>
		
    </ion-content>
</ion-view>