<ion-view title="Payment Confirmed" hide-nav-bar="true" id="page22" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="paymentConfirmed-form16" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="paymentConfirmed-list-item14">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999997</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="paymentConfirmed-card26"></div>
		
        <h3 id="paymentConfirmed-heading44" style="color:#000000;text-align:center;" class=" ">Transaction Completed</h3>
        
		<form id="paymentConfirmed-form21" class="list ">
            <label class="item item-input " id="paymentConfirmed-textarea14">
                <span class="input-label">Amount Paid (Ether): 2.00</span><textarea placeholder=""></textarea>
            </label>
        </form>
		
        <a ui-sref="pastTransactionPage" id="paymentConfirmed-button122" class=" button button-dark  button-block ">View transaction history</a>
        <a ui-sref="purchaseEtherCurrency" id="paymentConfirmed-button123" class=" button button-dark  button-block ">Top up your Ether</a>
        <a ui-sref="homePage" id="paymentConfirmed-button125" class=" button button-dark  button-block ">Back to Main Menu</a>
        
		<div id="paymentConfirmed-button-bar34" class=" button-bar "></div>
		
    </ion-content>
</ion-view>