<ion-view title="Purchase Ether Currency" hide-nav-bar="true" id="page8" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="purchaseEtherCurrency-form8" class="list ">
		<h2 id="purchaseEtherCurrency-heading14" style="color:#000000;text-align:center;" class=" ">Purchase Ethereum Currency</h2>
        </form>
		
        <ion-list id="purchaseEtherCurrency-list9" class=" ">
            <ion-item class="item-avatar item-icon-right dark  " id="purchaseEtherCurrency-list-item17">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </ion-list>
		
        <h4 id="purchaseEtherCurrency-heading15" style="color:#000000;font-weight:400;text-align:center;" class=" ">Current Ethereum Rate</h4>
        <h4 id="purchaseEtherCurrency-heading16" style="color:#8D8D8D;text-align:center;" class=" ">20 SGD to 1 Ethereum Currency</h4>
        
		<form id="purchaseEtherCurrency-form13" class="list ">
            <label class="item item-input " id="purchaseEtherCurrency-input6">
                <input type="text" placeholder="Enter Amount of Ethereum">
            </label>
            <a ui-sref="topUpConfirmation" id="purchaseEtherCurrency-button64" class=" button button-dark  button-block ">Make Transaction</a>
            <a ui-sref="homePage" id="purchaseEtherCurrency-button65" class=" button button-dark  button-block ">Cancel</a>
            <div style="margin-right:-20px;">
                <a ui-sref="viewMyProfile" id="purchaseEtherCurrency-button63" style="left:-10px;" class=" button button-stable  button-full icon-right ion-android-contacts ">View My Profile</a>
            </div>
        </form>
		
    </ion-content>
</ion-view>