<ion-view title="Set Calendar Reminder" hide-nav-bar="true" id="page12" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
	
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/services.js"></script>

	<body ng-app="app" ng-controller="setCalendarReminderCtrl">
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        
		<div class="spacer" style="width: 300px; height: 7.62939e-06px;"></div>
        <h2 id="setCalendarReminder-heading21" style="color:#000000;text-align:center;" class=" ">Calendar Reminders</h2>
        
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>   
	
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
		  <ion-item ng-show="!tasks.length">
			No Reminders
		  </ion-item>
		  
		  <ion-item ng-show="tasks.length" ng-repeat="task in tasks track by $index" item="task">
			{{task.task_name}}
			<ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(task.task_id)"></ion-delete-button>
			<ion-option-button class="button-assertive" ng-click="onItemEdit(task.task_id)">Edit</ion-option-button>
		  </ion-item>
		</ion-list>

	<script id="new-task.html" type="text/ng-template">
		<div class="modal">
		<!-- Modal header bar -->
		<ion-header-bar class="bar-stable">
		  <h1 class="title">Calendar Reminder</h1>
		</ion-header-bar>
		<!-- Modal content area -->
		<ion-content>
		  <form ng-submit="createTask(task)">
			<div class="list">
			  <label class="item item-input">
				<input type="text" placeholder="Enter Reminders Here" ng-model="task.title">
			  </label>
			</div>
			<div class="padding">
			  <button type="submit" class="button button-block button-positive">Create Task</button>
			  <button class="button button-clear button-block pull-center" ng-click="closeNewTask()">Cancel</button>
			</div>
		  </form>
		</ion-content>
		</div>
	</script>
	<br>
	<button id="setCalendarReminder-button91" class="button button-dark  button-block" ng-click="newTask()">New Calendar Reminder</button>
	
	<button class="button button-dark button-block" 
		ng-click="data.showDelete = !data.showDelete; data.showReorder = false">Delete Reminder</button>
	
	<a ui-sref="homePage" id="setCalendarReminder-button92" class=" button button-positive  button-block ">Back to Main Menu</a>
	
	<br>
	<div class="spacer" style="width: 300px; height: 4px;"></div>
	
	<div style="margin-right:-20px;">
		<a ui-sref="viewMyProfile" id="setCalendarReminder-button93" style="left:-10px;" class=" button button-stable  button-full icon-right ion-person-stalker ">View My Profile</a>
	</div>
    </ion-content>
</ion-view>