<ion-view title="Sign Up Successful" hide-nav-bar="true" id="page10" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		
        <h2 id="signUpSuccessful-heading26" style="color:#000000;text-align:center;" class=" ">Signing Up</h2>
		
        <div id="signUpSuccessful-button-bar17" class=" button-bar "></div>
        <div id="signUpSuccessful-button-bar18" class=" button-bar "></div>
        <div id="signUpSuccessful-button-bar19" class=" button-bar "></div>
        <div id="signUpSuccessful-button-bar20" class=" button-bar "></div>
		
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        
		<h4 id="signUpSuccessful-heading27" style="color:#000000;text-align:center;" class=" ">You have successfully signed up with EasyEther!</h4>
        <h4 id="signUpSuccessful-heading28" style="color:#000000;text-align:center;" class=" ">Click the button below to be redirected back to the login page!</h4>
        
		<div class="spacer" style="width: 300px; height: 26px;"></div>
        
		<a ui-sref="loginPage" id="signUpSuccessful-button100" class=" button button-dark  button-block ">Back to Login Page</a>
		
    </ion-content>
</ion-view>