<ion-view title="Top up confirmed" hide-nav-bar="true" id="page23" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
        <div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <br>
		
		<form id="topUpConfirmed-form18" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="topUpConfirmed-list-item16">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="topUpConfirmed-card27"></div>
        
		<h3 id="topUpConfirmed-heading46" style="color:#000000;text-align:center;" class=" ">Transaction Completed</h3>
        
		<form id="topUpConfirmed-form22" class="list ">
            <label class="item item-input " id="topUpConfirmed-input7">
                <span class="input-label">Amount added (Ether): 20</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="topUpConfirmed-input8">
                <span class="input-label">Amount deducted (SGD): $400</span>
                <input type="text" placeholder="">
            </label>
        </form>
		
        <a ui-sref="pastTransactionPage" id="topUpConfirmed-button132" class=" button button-dark  button-block ">View transaction history</a>
        <a ui-sref="homePage" id="topUpConfirmed-button133" class=" button button-dark  button-block ">Back to Main Menu</a>
        
		<div id="topUpConfirmed-button-bar35" class=" button-bar "></div>
		
    </ion-content>
</ion-view>