<ion-view title="View My Profile" hide-nav-bar="true" id="page11" style="background-color:#D8D8DD;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding" scroll="false">
	
		<div class="spacer" style="width: 300px; height: 1.98959px;"></div>
		<div class="spacer" style="width: 300px; height: 11.9844px;"></div>		
        <div class="">
            <img src="img/zTlvytEfTAeqNOQdPh7G_junyi.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
		<br>
		
        <form id="viewMyProfile-form14" class="list ">
            <ion-item class="item-avatar item-icon-right dark  " id="viewMyProfile-list-item30">
                <img src="img/a9GzYWfBTheQvebVla8i_13062256_959271084162265_7938535252535061688_n.jpg">
                <h2dark>Mobile No: 81266890
                    <p style="white-space:normal;">Current Ether: 999999</p>
                    <i class="icon ion-android-contact"></i>
                </h2dark>
            </ion-item>
        </form>
		
        <div class="list card " id="viewMyProfile-card24">
            <ion-item class="item-icon-left item-icon-right  " id="viewMyProfile-list-item36">
                <i class="icon ion-android-person"></i>Change Password
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="viewMyProfile-list-item34" ui-sref="setCalendarReminder">
                <i class="icon ion-android-calendar"></i>View Calendar Reminder
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="viewMyProfile-list-item35" ui-sref="purchaseEtherCurrency">
                <i class="icon ion-cash"></i>Purchase Ether Currency
                <i class="icon ion-android-send"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="viewMyProfile-list-item37" ui-sref="automationPayment">
                <i class="icon ion-alert-circled"></i>Automation of Payment
                <i class="icon ion-android-send"></i>
            </ion-item>
        </div>
		
        <a ui-sref="homePage" id="viewMyProfile-button105" class=" button button-stable  button-block icon-left ion-android-arrow-back ">Back to Main Menu</a>
        
		<div style="margin-right:-20px;">
            <a ui-sref="loginPage" id="viewMyProfile-button75" style="left:-10px;" class=" button button-dark  button-full ">Logout</a>
        </div>
		
        <div id="viewMyProfile-button-bar9" class=" button-bar "></div>
		
    </ion-content>
</ion-view>